{% extends 'base.html.twig' %}

{% block body %}

<div class="card-deck">
    <div class="card">
        
      <div class="card-body">
        <h5 class="card-title">FAQ</h5>
        <p class="card-text"> </p>
      </div>
      <div class="card-footer">
        <small style="font-size: medium;"  >Garder un oeil sur son entreprise est de fois chose pas évident. 
            Avoir  un outils de gestion centraliser  qui permet a vos gérant de mettre a jour les différents flux de l’entreprise. 
            
            <h4>La plateforme comporte deux parties</h4>
            <p>Une Interface pour vos gérant  et une Interface administrateur pour vous.</p> 
           <p>L’interface administrateur vous permet de donner des pouvoir à vos employer, de gérer vos inventaires ( supprimer mètre a jour et d’ajouter  de nouvelle service a votre équipe. )</p> 
           <h4>Différents onglet </h4>
           <p>Différents onglets apparaitrons selon le poste que vous occuper dans l’entreprise et selon le pouvoir que votre PDG vous est attribuer.</p>
           <h4>Inscription </h4>
           <p>Votre bosse vous demandera tout simplement de venir s’inscrire sur la plateforme.
            Dès lors au moment de cette inscription vous aurez tout simplement a choisir le nom de votre entreprise sur la liste déroulant.</p>
           <h4>Connection </h4>
            <p>Une fois inscrit vous pourrez vous connecter et accéder a votre interface  qui sera a présent basique jusqu’a ce que votre responsable vous affiler different rôle dans l’entreprise. 
                Si votre inscription n’est pas valider par votre responsable dans un délai  de 48h alors votre compte sera automatiquement supprimer incluant  tout vos mouvements récent sur votre compte. </p>
        </small>
      </div>
    </div>
</div>
{% endblock   %}
