<article class="blog-post">
        <h3 class="blog-post-title">{{comment.content}}</h2>
        <p class="blog-post-meta">{{comment.publishedDate|date("d/m/Y")}} by <a href="#">{{comment.user}}</a></p>
 </article>